/* add your CSS here */
#main{
    padding: 1px;
    background: url('images/phone.png') 960px 130px no-repeat,url('images/rbackground.png') right top no-repeat, url('images/wbackground.png') left top no-repeat;
    background-size: 250px,450px 1000px, cover;
    height: 750px;
    width: 1525px;
    background-origin: border-box;
}
.contents{
    height: 750px;
    width: 1525px;
}